* {
       font-family: Arial, Verdana, sans-serif;
       color: #665544;
       text-align: center;}
 body {
       width: 90%;
       margin: 0 auto;
       background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=SMq%2bJhVs&id=26133AC0253EDC45FEFA4202FDDDF977C843485B&thid=OIP.SMq-JhVsIx7CK8xoowbWLAHaEK&mediaurl=https%3a%2f%2fwallpapercave.com%2fwp%2fwp2471496.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.48cabe26156c231ec22bcc68a306d62c%3frik%3dW0hDyHf53f0CQg%26pid%3dImgRaw%26r%3d0&exph=2160&expw=3840&q=Digital+Background&simid=607987964779430199&FORM=IRPRST&ck=5C1D20C3095CAD1C67DD932668EB3935&selectedIndex=5&itb=0');
       background-size: cover;
       background-position: center;
}
  .column1, .column2, .column3 {
            width: 30%; 
            float: left;
            margin: 1%; 
            box-sizing: border-box;
        }
#content {
       overflow: auto;}
#nav {
       background-color: #ff9999;
       padding: 0.5em 0;
       margin: 1%;}
#feature {
       height: 10em;
       margin-bottom: 1em;
       background-color: #8CC63E;;
       background-image: url('feature.jpg');
       background-size:contain;
       background-position: right;
       background-repeat:no-repeat;
}
.article {
       height: 10em;
       margin-bottom: 1em;
       background-color: #efefef;}
.column1 {
       background-color: #9999ff;
       width: 31.3%;
       float: left;
       margin: 1%;}
.column2 {
       background-color: #ffff99;
       width: 31.3%;
       float: left;
       margin: 1%;}
.column3 {
       background-color: #ff99ff;
       width: 31.3%;
       float: left;
       margin-right: 0%;}
li {
       display: inline;
       padding: 0.5em;}
#footer {
       background-color: #99ffff;
       padding: 0.5em 0;
       margin: 1%;}
#header h1 {
       font-family: 'Delius', cursive;}
