* {
       font-family: Arial, Verdana, sans-serif;
       color: #665544;
       text-align: center;}
 body {
       width: 90%;
       margin: 0 auto;
       background-image: url('https://th.bing.com/th?id=OSK.HERO6ny_s3GhONrM3t3G1oiw2tM5-vlVMVHGMtRGRqz0uqQ&w=472&h=280&c=13&rs=2&o=6&dpr=1.3&pid=SANGAM');
       background-size: cover;
       background-position: center;
}
  .column1, .column2, .column3 {
            width: 30%; /* Adjusted width for equal sizing */
            float: left;
            margin: 1%; /* Consistent margin for all columns */
            box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        }
#content {
       overflow: auto;}
#nav {
       background-color: #ff9999;
       padding: 0.5em 0;
       margin: 1%;}
#feature {
       height: 10em;
       margin-bottom: 1em;
       background-color: #99ff99;
       background-image: url('feature.jpg');}
.article {
       height: 10em;
       margin-bottom: 1em;
       background-color: #efefef;}
.column1 {
       background-color: #9999ff;
       width: 31.3%;
       float: left;
       margin: 1%;}
.column2 {
       background-color: #ffff99;
       width: 31.3%;
       float: left;
       margin: 1%;}
.column3 {
       background-color: #ff99ff;
       width: 31.3%;
       float: left;
       margin-right: 0%;}
li {
       display: inline;
       padding: 0.5em;}
#footer {
       background-color: #99ffff;
       padding: 0.5em 0;
       margin: 1%;}
#header h1 {
       font-family: 'Delius', cursive;}
